@media screen and (max-width: 640px) {
    .header__title--typography1 {
        font-size: 2rem;
    }

    .header__title--typography2 {
        font-size: 3rem;
    }

    .main__parrafo--tres {
        font-size: 2rem;
        text-align: center;
    }

    .main__footer h1 {
        font-size: 2rem;
        text-align: center;
    }

    .footer__button {
        font-size: 1rem;
    }

    .container div:nth-of-type(7) h1 {
        font-size: 1.5rem;
    }

    .container div:nth-of-type(7) {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}